{include file="public/header"/}
<article class="blogs">
    <h1 class="t_nav"><span>“慢节奏”不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">慢节奏</a></h1>
    <div class="newblog left">
        <h2>二十几年的生活犹如眼前云烟，从头再来一次定然不会再踏入繁忙枯燥的争斗之中。</h2>
        <p class="dateview"><span>发布时间：2013-11-04</span><span>作者：胡小乐</span><span>分类：[<a href="">程序人生</a>]</span></p>
        <p class="content">
            随着社会的发展变迁，我们生活的节奏也是越来越飞快。
            越来越快的交通素质越来越快的生活方式，
            还有越来越快的饮食方式，这些变态的举动不仅让我们的思维变得飞快，
            而且使我们的情绪变得越来越焦躁不安。但是当我们隐隐习惯了这种快节奏生活的时候。
            快节奏还给我们带来一系列的健康隐患，比如电视新闻上频频发生的工作者猝死的新闻，
            这些都是因为他们的生活节奏太快而但是他们的身体却不能跟随他们的激情节奏，从而导致发生崩溃的现象，
            身体的崩溃，不仅导致你整个人的灭亡，而且会导致一个幸福家庭的凋落。
            所以说我们即便是在这个快节奏物欲横流的现代社会，我们尽量还是要保持慢节奏生活，
            如此一来，不仅健康养生，而且会让我们的心情平静，更加乐观积极的面对生活。
        </p>
        <h3>
            一、慢餐饮
        </h3>
        <p class="content">
            在生活节奏逐渐变快的同时，越来越多的快餐，饭馆在街道上泛滥成灾，
            里面也是人满为患。但是你思考过这个问题吗？当你们经常吃快餐的时候，
            你们的身体会不会也因此受到影响。我们是享受吃饭这个快乐应该在轻松的环境下吃着自己精心烹制的丰盛又可口美味的大餐，
            而不是简简单单草率作出来一顿饭来填饱肚子。所以说我们尽量采取慢慢的餐饮态度，当你工作完后慢慢的挑选素材，
            然后在家里为自己和家人打造一桌丰盛而又营养的晚餐，然后一边看着最喜欢的综艺节目，
            一边看着家人心满意足的吃饭样子，这才是最快乐的。
        </p>
        <h3>
            二、慢运动
        </h3>
        <p class="content">
            走路要慢一些，在我们每天奔走的大街小巷里，总是有许多行色匆匆的人，有的人连自己上下班的路上，
            有什么店面，什么样的风景都不知道。他们每天忙忙活活的，别说外面的世界，就连自己所居住是城市都没有时间好好看看。
            所以说，不要再等了，放慢你的脚步，看看你周围的世界吧，生活需要细水长流。
        </p>
        <h3>
            三、慢阅读
        </h3>
        <p class="content">
            在生活节奏逐渐变快的同时，越来越多的快餐，饭馆在街道上泛滥成灾，里面也是人满为患。
            但是你思考过这个问题吗？当你们经常吃快餐的时候，你们的身体会不会也因此受到影响。
            我们是享受吃饭这个快乐应该在轻松的环境下吃着自己精心烹制的丰盛又可口美味的大餐，
            而不是简简单单草率作出来一顿饭来填饱肚子。
            所以说我们尽量采取慢慢的餐饮态度，当你工作完后慢慢的挑选素材，然后在家里为自己和家人打造一桌丰盛而又营养的晚餐，
            然后一边看着最喜欢的综艺节目，一边看着家人心满意足的吃饭样子，这才是最快乐的。
        </p>
        <h3>
            四、慢play
        </h3>
        <p class="content">
            玩的时候要慢一些，我们经常出去旅游，但慢慢地玩强调的不是去哪里，而是在哪里，和谁在一起。
            慢玩儿不是说去了哪，看了几个景点，也许只是在那个地方闲逛了几天，和当地人慢慢的聊天，
            在树荫下呆坐了半天，又和公园里的猫狗嬉闹了一会儿。这就是真正的旅游者该做的事。
        </p>
        <p class="bottom">
            享受生活慢一点，在如今这个高速运转的时代，慢虽然是一种奢侈，但同时更应该是我们掌控自己生活节奏的重要能力。
            我们需要有意识的适时地踩踩刹车。比如每天早晨20分钟的慢跑，体会气息在口鼻胸腹的涌动，午后，听一段音乐，晚餐仔细地咀嚼，
            感受芹菜的脆嫩，西红柿的多汁，保持对生活的敏感，找到适合自己的生活节奏。
        </p>
    </div>
    {include file='public/right'}
</article>

{include file='public/footer'}