<!--博主+来联系我-->
{include file="public/header"/}

<article>
    <div class="article_top">
        <div class="head_use_b">
            <!--头部图片-->
            <div class="head_user_bg">
                <div class="head_user_logo">
                    <img src="__STATIC__/home/images/mylogo.jpg"/>
                </div>
                <div class="vip"><p>Admin</p><p><img src="__STATIC__/home/images/vip.svg"/></p><p>炒鸡终身VIP</p></div>
                <div class="admin">管理员</div>
                <div class="follow"><span>+</span>关注</div>
            </div>

            <!--人气-->
            <div class="head_user_bottom">
                <p>
                    <span>人气:</span><span>9999+</span>
                </p>
                <p>
                    <span>粉丝:</span><span>999+</span>
                </p>
                <p>
                    <span>关注:</span><span>1231</span>
                </p>
            </div>
        </div>
    </div>



    <div class="article_content">
        <div class="introduction">
            <h4>简介</h4>
            <ul class="clearfix">
                <li>
                    <span>姓名：胡小乐</span>
                    <span>民族：汉</span>
                </li>
                <li>
                    <span>星座：巨蟹</span>
                    <span>学历：大专</span>
                </li>
                <li>
                    <span>籍贯：河北沧州</span>
                    <span>专业：软件开发</span>
                </li>
                <li>
                    <span>职业：PHP后台攻城狮</span>
                    <span>现居：河北保定</span>
                </li>
            </ul>

            <h4>介绍</h4>
            <ul>
                <li>自我简介：</li>
                <li class="index">
                    欢迎来到lele！本人后端小白，喜欢养
                    小动物、 各种有趣的事。父母务农，初中就喜欢计算机（当然，那时候是喜欢游戏*^_^*），
                    于是大学报读软件技术系。当进入大学后，我骤然发现人与人的区别竟然是那么的明显，
                    有同学城市户口，有的家里开公司办厂，和同学一比难免无比自卑。
                    加之如今的大学含金量真是(包括各种黑暗……)。。。于是想，未来该怎么办？如何在这个社会立足？
                </li>
                <li class="index">
                    16年进大学-期间在学校虚度了一年，总觉得只是小打小闹。
                </li>
                <li class="index">
                    偶然机会在"慕课网"看到了公开课讲网页制作（当时的我以为PHP是前段^_^）,顿时被震撼，
                    那时候我觉得视频里老师就是神一般的存在，他就像一个画家，在苍白的屏幕上点缀了闪烁的光彩，
                    才觉悟，原来这才是真正的开发，让我重新燃起了希望。经过大约半年的前端学习，
                    终于学会了一些基本的搭建页面，向成功迈进了一步。现在是一名web后端工程师，但还需努力，要成为更好的自己。
                </li>
            </ul>

            <h4>职业生涯</h4>
            <ul>

                <li class="index">
                    2018年3月（大二末）踏入后端生涯，同年3月下旬第一家面试 - 石家庄***公司。
                    期望薪资2.5k，面试背景：刚学好PHP，会点TP、larvel，竟然面试成功。
                    后因公司原因，毅然离开。
                </li>
                <li class="index">
                    2018年6月再次找工作，面试近5-8家，三家成功，一家有缘 - 六面体网络有限公司，
                    成功入坑，3k/月（试用）。公司虽小不到20人，但老板人还行，
                    加班看自己心情。打卡。

                    <!--因温饱问题，迫于无奈，因迫于长期熬夜加班出现白头发，-->
                    <!--每天欠睡眠，担心身体吃不消猝死英年早逝（还没老婆孩子甚至女朋友）10月末辞职。-->
                </li>
                <!--<li class="index">-->
                    <!--2018年5月重新找工作，天气带着小炎热，却发现被解脱的感觉是多么美好，-->
                    <!--望天空天变蓝了，看湖水水变清澈了。凭借着此前几个月时间的实际项目锻炼，-->
                    <!--我发现外面的世界也没想象的那么可怕，第二面就成功拿到了16k，-->
                    <!--但规模不大，而且制度996被我当场拒绝了，后面慢悠悠，边面试边总结经验，-->
                    <!--在此又有个插曲，东方网力公司，一家奇葩的公司，面试5轮，前面几轮都谈的都愉快，-->
                    <!--最后一轮北京总部一个傻屌嫌弃我学历不够，把我放弃了，-->
                    <!--整整一个星期时间都白消耗，上市公司，真的很了不起吗？不以为然，未完待续。。。-->

                <!--</li>-->
            </ul>

            <h4>博客介绍</h4>
            <ul>
                <li>自我简介：</li>
                <li class="index">
                    乐乐个人博客，是我首次创建的个人博客，主要用于记录学习后端学习、工作笔记、心得的地方，抒发自己情感的地方，在今后的岁月里会慢慢来打磨并持续更新维护。
                </li>
                <li class="index">
                    此网站后台采用Apache+mysql，前端模块部分网络代码(如有侵权请告知！立刻修改。。。)，
                    运用大量js+css3运动，整体页面华丽的同时也会暗藏bug，尽管本人多次测试，
                    但难免在众多设备或不同人不同见解下任有所不足之处，如有好的意见欢迎给我留言，
                    博客会适当改进，慢慢改版。最后感谢大家的关注，尤其谢谢
                </li>
                <li class="index">
                    也有人说，你花那么多时间去自己开发和维护这么一个小小个人博客网站有多大意义？这种网站只要有1-2年前端经验的就可以去完成，开发完了又开源出来供大家免费使用，
                    既没什么收益，又耗费时间，何不去把这些时间去用于更高级的技术层面研究上。其实这个问题问的一针见血，开发维护这个网站确实占用了很大一部分业余时间，但是，
                    既然当初花那么大的精力做出来了，为啥不继续维护好呢？毕竟很多时候你会发现，养了一只巴掌大宠物时间久了，也会有感情的，尤其是：
                    你能独立做一个网站和你独立做成过一个网站其实是两回事。还可以通过博客这个平台，还可以让全世界的人有更多机会认识到自己和了解自己，互相有所交流，
                    也是一件有趣的事情。
                </li>
            </ul>
        </div>
    </div>
</article>



{include file="public/footer"/}