{include file="public/header"/}
<div class="banner">
    <!--<section class="box">-->
        <!--<ul class="texts">-->
            <!--<p>打了死结的青春，捆死一颗苍白绝望的灵魂。</p>-->
            <!--<p>为自己掘一个坟墓来葬心，红尘一梦，不再追寻。</p>-->
            <!--<p>加了锁的青春，不会再因谁而推开心门。</p>-->
        <!--</ul>-->
        <!--<div class="avatar"><a href="#"><span>乐乐</span></a></div>-->
    <!--</section>-->

        <div class="pics_wrap">
            <div id="html5zoo-1">
                <ul class="html5zoo-slides" style="display:none;">
                    <li><a href="/"><img src="__STATIC__/Home/images/banner1.jpg" /></a></li>
                    <li><a href="/"><img src="__STATIC__/Home/images/banner2.jpg" /></a></li>
                    <li><a href="/"><img src="__STATIC__/Home/images/banner3.jpg" /></a></li>
                    <li><a href="/"><img src="__STATIC__/Home/images/banner4.jpg" /></a></li>
                    <li><a href="/"><img src="__STATIC__/Home/images/banner5.jpg" /></a></li>
                    <li><a href="/"><img src="__STATIC__/Home/images/banner5.jpg" /></a></li>
                </ul>
            </div>
        </div>

</div>
<div class="template">
    <div class="box boxChange">
        <h3>
            <p><span>乐乐</span>Blog</p>
        </h3>

        <marquee direction=left scrollamount=10 onmouseover="this.stop()" onmouseout="this.start()"  loop="infinite">
            <ul>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/01.png"></a><span>绿色清新</span></li>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/02.png"></a><span>科技感十足</span></li>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/03.png"></a><span>唯美天空</span></li>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/04.png"></a><span>繁华城市</span></li>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/05.png"></a><span>浩瀚星空</span></li>
                <li><a href="/" target="_blank"><img src="__STATIC__/Home/images/06.png"></a><span>音调彼伏</span></li>

            </ul>
        </marquee>

    </div>
</div>
<article>
    <div class="bloglist left">
        <div class="blogcontent tuijian">
            <h3><span>【今日推荐】</span>程序员请放下你的技术情节，与你的同伴一起进步</h3>
            <ul>
                <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
            </ul>
            <p class="dateview">
                <span></span>
                <span>2013-11-04</span>
                <span>作者：乐乐</span>
                <span>个人博客：[<a href="">程序人生</a>]</span>
            </p>
        </div>

    </div>
    <aside class="right">
        <div class="introduce">
            <span>博客介绍</span>
            <p>
                乐乐博客：huxiaole.cn,一个关注后端开发技术，关注用户体验、坚持更多原创实战教程的个人网站，愿景：成为宇宙中最具有代表性的后端博客，期待您的参与，
                <a href="{:url('/index/Blog')}">了解更多…</a>
            </p>
        </div>
    </aside>




    <h2 class="title_tj">
        <p>【文章<span>推荐】</span></p>
    </h2>
    <div class="bloglist left">

        <div class="blogcontent">
            <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
            <figure><img src="__STATIC__/Home/images/01.png"></figure>
            <ul>
                <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
                <a title="了解更多" href="{:url('/index/details')}" target="_blank" class="readmore">阅读全文>></a>
            </ul>
            <p class="dateview">
                <span></span>
                <span>2013-11-04</span>
                <span>作者：乐乐</span>
                <span>个人博客：[<a href="#">程序人生</a>]</span>
                <span class="love"></span>
                <span>6喜欢</span>
            </p>
        </div>


        <div class="blogcontent">
            <h3>程序员请放下你的技术情节，与你的同伴一起进步</h3>
            <figure><img src="__STATIC__/Home/images/02.png"></figure>
            <ul>
                <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...</p>
                <a title="了解更多" href="{:url('/index/details')}" target="_blank" class="readmore">阅读全文>></a>
            </ul>
            <p class="dateview">
                <span></span>
                <span>2013-11-04</span>
                <span>作者：乐乐</span>
                <span>个人博客：[<a href="#">程序人生</a>]</span>
                <span class="love"></span>
                <span>6喜欢</span>
            </p>
        </div>
    </div>


{include file="public/right"/}
    <!--公告-->
    <div class="CenterNotice">
        <div class="CNContent">
            <p class="NoticeTitle">网站公告</p>
            <div class="CentNR">
                <ul>
                    <li><span>重要通知</span><span>博客上线！！</span><span>2018/11/11</span><span>></span></li>
                    <li><span>重要通知</span><span>博客仍有各种bug,望告知！</span><span>2018/11/11</span><span>></span></li>
                    <li><span>重要通知</span><span>手机端开发中,敬请期待……</span><span>2018/11/11</span><span>></span></li>
                    <li><span>重要通知</span><span>有问题可以找我噢！</span><span>2018/11/11</span><span>></span></li>
                </ul>
            </div>
            <p class="CenClose" title="关闭">
                X
            </p>
        </div>

    </div>
{include file="public/footer"/}