{include file="public/header"/}
<article class="blogs">
    <h1 class="t_nav"><span>既然来了，那么就留下你的足迹吧！</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">留言板</a></h1>
    <!--手风琴-->

    <div class="cloud-product-box">
        <div class="cloud-product-wrapper">
            <div class="cloud-product">
                <ul class="cloud-product-ul clearfix">
                    <li data-index="1" class="active">
                        <div class="normal-inner">
                            <div class="cloud-product-single-bottom clearfix">
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-01"></div>
                                </div>
                                <h2 class="product-introduce-title">相遇</h2>
                                <p class="product-introduce-content">相遇即是缘分</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-small">你不问+</p>
                                    <p class="introduce-list-small">你不说</p>
                                    <p class="introduce-list-small">这就是距离</p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-blue">我</span>不想遇
                                </p>
                            </div>
                        </div>
                        <div class="active-inner active-inner-01 clearfix">
                            <div class="active-inner-item">
                                <a class="introduce-link" target="_blank" href="javascript:;"></a>
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-active-01"></div>
                                </div>
                                <h2 class="product-introduce-title active-product-introduce-title ">相遇</h2>
                                <p class="product-introduce-content">相遇即是缘分</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-large">
                                        为什麽我们总不懂得珍惜眼前人？在未可预知的重逢里，我们以为总会重逢，总会有缘再会，总以为有机会说一声对不起，却从没想过每一次挥手道别，都可能是诀别，每一声叹息，都可能是人间最后的一声叹息。
                                    </p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-white">我</span>不想遇
                                </p>
                                <a target="_blank" href="#" class="btn buy-link-btn">了解详情</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="2">
                        <div class="normal-inner">
                            <div class="cloud-product-single-bottom clearfix">
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-02"></div>
                                </div>
                                <h2 class="product-introduce-title">相识</h2>
                                <p class="product-introduce-content">相识即是本分</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-small">我问了+</p>
                                    <p class="introduce-list-small">你不说</p>
                                    <p class="introduce-list-small">这就是隔阂</p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-blue">我</span>不想识
                                </p>
                            </div>
                        </div>
                        <div class="active-inner active-inner-02 clearfix">
                            <div class="active-inner-item">
                                <a class="introduce-link" target="_blank" href="javascript:;"></a>
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-active-02"></div>
                                </div>
                                <h2 class="product-introduce-title active-product-introduce-title ">相识</h2>
                                <p class="product-introduce-content">相识即是本分</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-large">
                                        为什麽我们总不懂得珍惜眼前人？在未可预知的重逢里，我们以为总会重逢，总会有缘再会，总以为有机会说一声对不起，却从没想过每一次挥手道别，都可能是诀别，每一声叹息，都可能是人间最后的一声叹息。

                                    </p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-white">我</span>不想识
                                </p>
                                <a target="_blank" href="#" class="btn buy-link-btn">了解详情</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="3">
                        <div class="normal-inner">
                            <div class="cloud-product-single-bottom clearfix">
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-03"></div>
                                </div>
                                <h2 class="product-introduce-title">相知</h2>
                                <p class="product-introduce-content">相知既是了解</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-small">我问了+</p>
                                    <p class="introduce-list-small">你说了</p>
                                    <p class="introduce-list-small">这就是信任</p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-blue">我</span>不想知
                                </p>
                            </div>
                        </div>
                        <div class="active-inner active-inner-03 clearfix">
                            <div class="active-inner-item">
                                <a class="introduce-link" target="_blank" href="javascript:;"></a>
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-active-03"></div>
                                </div>
                                <h2 class="product-introduce-title active-product-introduce-title ">相知</h2>
                                <p class="product-introduce-content">相知既是了解</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-large">
                                        漂亮的女孩子不论出身高低，总是前途不可限量，或者应当说不可测，她本身具有命运的神秘性。一结了婚，就死了个皇后，或是死了个名妓，谁也不知道是哪个。
                                    </p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-white">我</span>不想知
                                </p>
                                <a target="_blank" href="#" class="btn buy-link-btn">了解详情</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="4">
                        <div class="normal-inner">
                            <div class="cloud-product-single-bottom clearfix">
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-04"></div>
                                </div>
                                <h2 class="product-introduce-title">相恋</h2>
                                <p class="product-introduce-content">相恋既是信任</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-small">你不说+</p>
                                    <p class="introduce-list-small">我不问</p>
                                    <p class="introduce-list-small">这就是默契</p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-blue">我</span>不想恋
                                </p>
                            </div>
                        </div>
                        <div class="active-inner active-inner-04 clearfix">
                            <div class="active-inner-item">
                                <a class="introduce-link" target="_blank" href="javascript:;"></a>
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-active-04"></div>
                                </div>
                                <h2 class="product-introduce-title active-product-introduce-title ">相恋</h2>
                                <p class="product-introduce-content">相恋既是信任</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-large">
                                        以美好的身体取悦人，是世界上最古老的职业，也是极普遍的妇女职业，为谋生而结婚的女人全可以归在这一项下。这也无庸讳言——有美丽的身体，以身体悦人，有美丽的思想，以思想悦人，其实也没有多大的分别。
                                    </p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-white">我</span>不想恋
                                </p>
                                <a target="_blank" href="#" class="btn buy-link-btn">了解详情</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="5">
                        <div class="normal-inner">
                            <div class="cloud-product-single-bottom clearfix">
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-05"></div>
                                </div>
                                <h2 class="product-introduce-title">相守</h2>
                                <p class="product-introduce-content">相守既是一辈子</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-small">我不问+</p>
                                    <p class="introduce-list-small">你说了</p>
                                    <p class="introduce-list-small">这就是依赖</p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-blue">我</span>不想……
                                </p>
                            </div>
                        </div>
                        <div class="active-inner active-inner-05 clearfix">
                            <div class="active-inner-item">
                                <a class="introduce-link" target="_blank" href="javascript:;"></a>
                                <div class="empty-space">
                                    <div class="bg-product-pic server-header-active-05"></div>
                                </div>
                                <h2 class="product-introduce-title active-product-introduce-title ">相守</h2>
                                <p class="product-introduce-content">相守既是一辈子</p>
                                <div class="product-introduce-list">
                                    <p class="introduce-list-large">
                                        爱情正是一个将一对陌生人变成情侣，又将一对情侣变成陌生人的游戏。 装扮得很像样的人，在像样的地方出现，看见同类，也被看见，这就是社交。
                                    </p>
                                </div>
                                <p class="product-introduce-price">
                                    <span class="price-white">我</span>不想……
                                </p>
                                <a target="_blank" href="#" class="btn buy-link-btn">了解详情</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--留言-->
    <div class="">
        <div id="gustbook">
            <div id="wrap">
                <h1>Send a message</h1>
                <div id='form_wrap'>
                    <form action="" method="">
                        <p>你好，远方的朋友！</p>
                        <label for="email">Your Message : </label>
                        <textarea  name="message" value="Your Message" id="message" ></textarea>
                        <p>Best,</p>
                        <label for="name">Name: </label>
                        <input type="text" name="name" value="" id="name" />
                        <label for="email">Email: </label>
                        <input type="text" name="email" value="" id="email" />
                        <input type="submit" name ="submit" value="Now, I send, thanks!" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</article>


{include file="public/footer"/}