{include file="public/header"/}

<article>
    <h4 class="Navigation">
        <p>
            <span>首页</span>>
            <span>学无止境</span>>
            <span>阿斯顿发大水的方式答案</span>
        </p>
    </h4>
    <div class="Article left">
        <!--头部-->
        <div class="ArtTop">
            <div class="ArtTopContent">
                <h2>按时发士大夫撒旦</h2>
                <ul class="clearfix">
                    <li class="Art_time"><span></span><span>2018年09月20日</span></li>
                    <li class="Art_author"><span>作者：管理员</span></li>
                    <li class="Art_browse"><span></span><span>浏览次数</span></li>
                    <li class="Art_comment"><span></span><span>3条评论</span></li>
                </ul>
            </div>
        </div>
        <div class="ArtContent">
            <!--总结-->
            <div class="ArtCount">
                <h3>标题2</h3>
                <p>
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    vfasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                </p>
            </div>
            <!--介绍-->
            <div class="Artkey">
                <h3>标题2</h3>
                <p>
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    vfasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                    fasdfasdfsadfsadfsdafsadfs萨尔发士大夫撒旦发生发射点发射点发射点
                </p>
            </div>
        </div>

        <div class="ArtBottom">
            <p class="helps">「两年，如果觉得我的文章对您有用，请帮助本站成长」</p>
            <p class="care">
                <span class="Fabulous"><a href="">赞</a></span>
                <span class="Reward"><a href="">赏</a></span>
            </p>
        </div>


        <div class="ArtComment">
            <form action="{:url('/details/comment')}" method="post">
                <div id="content" style="width: 700px; height: auto;margin-left:20px;margin-top:40px">
                    <div class="wrap">
                        <div class="comment">
                            <div class="head-face">
                                <img src="__STATIC__/home/images/1.jpg" / >
                                <p>我是鸟</p>
                            </div>
                            <div class="content">
                                <div class="cont-box">
                                    <textarea class="text" placeholder="请输入..."></textarea>
                                </div>
                                <div class="tools-box">
                                    <div class="operator-box-btn"><span class="face-icon"  >☺</span><span class="img-icon">▧</span></div>
                                    <div class="submit-btn"><input type="button" onClick="out()"value="提交评论" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="info-show">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

    {include file="public/right"/}
{include file="public/footer"/}