<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>乐乐-鸣谢 | web 后端技术博客</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="__STATIC__/home/css/base.css" >
    <link rel="stylesheet" href="__STATIC__/home/css/{$controller}.css" />
</head>
<body>
    <div class="container">
        <div class="kz">
            <div class="thanks">特别鸣谢</div>
            <p class="zuoyouming">--有些话不一定要说出来，但一定要记录在某个地方！</p>
            <div class="content">
                <ul class="thank_content">
                    <li class="con_li">
                        <p>I、陈*娇老师</p>
                        <p>
                            陈*娇老师 - 河北软件职业技术学院（教师），在教育事业上一直兢兢赫赫，对每位学生都是坚守有问必答的态度，赢得广大学生爱戴，感谢陈*娇的技术支持。
                        </p>
                    </li>
                    <li class="con_li">
                        <p>Ⅱ、慕课网</p>
                        <p>这是一个神奇的IT培训中心。也许你从未听说，也说你早已被它震撼，创办多年来一直恪守住IT培训的原则与底限，
                            扎扎实实研发课程、不断提升服务质量，帮助学员打下坚实技术基础，不断向各大IT公司输送优秀开发人才，感谢妙味不断研发最新最前沿的技术。</p>
                    </li>
                    <li class="con_li">
                        <p>Ⅲ、网名--岁月静好</p>
                        <p>拥有一手流批的前端手艺，看到他的博客使我油然而生做一个自己的博客！便开始了自己的博客生涯。</p>
                    </li>
                    <li class="con_li">
                        <p>Ⅳ、浩哥</p>
                        <p>各种大道理的浩哥，同时对UI行业充满热爱，感谢大浩哥提供切图服务！祝你发展越来越好噢！</p>
                    </li>
                    <li class="con_li">
                        <p>Ⅴ、各位朋友</p>
                        <p>最后感谢各位朋友对www.huxiaole.cn的关注与支持，同时也要感谢各位技术大牛分享的技术帖子，欢迎大家在本站注册会员，共同维护博客的发展，让它成为我们共同的学习分享家园！</p>
                    </li>
                </ul>
            </div>
            <p class="time">2018年11月11日</p>
        </div>
    </div>
</body>
</html>