
<aside class="right">
    <!--<div class="weather">-->
    <!--<iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe>-->
    <!--</div>-->
    <div class="lists">
        <div class="news">
            <h3>
                <p>最新<span>文章</span></p>
            </h3>
            <ul class="news">
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
            </ul>
        </div>

        <div class="click">
            <h3 class="ph">
                <p>点击<span>排行</span></p>
            </h3>
            <ul class="paih">
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
                <li><a href="/" title="withlove for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
                <li><a href="/" title="withlove for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
                <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>

            </ul>
        </div>

        <div class="classify">
            <h3>
                <p>文章<span>分类</span></p>
            </h3>

            <ul class="rank">
                <li><a href="/" title="" target="_blank">html/css</a></li>
                <li><a href="/" title="" target="_blank">后端</a></li>
                <li><a href="/" title="" target="_blank">html/css</a></li>
                <li><a href="/" title="" target="_blank">后端</a></li>
                <li><a href="/" title="" target="_blank">html/css</a></li>
                <li><a href="/" title="" target="_blank">后端</a></li>
            </ul>
        </div>

        <div class="friend">
            <h3 class="links">
                <p>友情<span>链接</span></p>
            </h3>
            <p class="intro">他们同样是一群网虫，却不是每天泡在网上游走在淘宝和网游之间、刷着本来就快要透支的信用卡。他们或许没有踏出国门一步，但同学却不局限在一国一校，而是遍及全球！
            </p>
            <ul class="website">
                <li><a href="/">****博客</a></li>
                <li><a href="/">****博客</a></li>
                <li><a href="/">****博客</a></li>
            </ul>
        </div>
        <div class="Count">
            <h3 class="links">
                <p>站长<span>统计</span></p>
            </h3>
            <ul class="sum">
                <li><span>文章总数:</span><span>144篇</span></li>
                <li><span>草稿数目:</span><span>144篇</span></li>
                <li><span>分类项目:</span><span>14个</span></li>
                <li><span>页面个数:</span><span>12个</span></li>
                <li><span>标签总数:</span><span>256个</span></li>
                <li><span>注册用户:</span><span>234人</span></li>
                <li><span>访问总量:</span><span id="Visit"></span>次</li>
                <li><span>最近更新:</span><span>2018年11月15日</span></li>
                <p><span>如若喜欢本站：欢迎收藏！</span></p>
            </ul>
        </div>
    </div>
    <div class="visitors">
        <h3><p>欢迎分享</p></h3>
    </div>
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>

    </article>


    <!-- 左侧播放器 开始-->
    <div id="jp_container_N" class="jp-video jp-video-270p jp-state-playing" role="application" aria-label="media player" style="left: 0px; height: 175px; bottom: 20px;">
        <div class="jp-type-playlist">
            <div id="jquery_jplayer_N" class="jp-jplayer" style="width: 90px; height: 90px;">

                <audio id="jp_audio_0" preload="metadata" src="http://music.163.com/song/media/outer/url?id=31473269.mp3" title="那英"></audio>
                <video id="jp_video_0" preload="metadata" title="那英" style="width: 0px; height: 0px;"></video>
            </div>
            <div class="jp-gui">
                <div class="jp-video-play" style="display: none;">
                    <button class="jp-video-play-icon" role="button" tabindex="0">播放</button>
                </div>
                <div class="jp-interface">
                    <div class="jp-progress">
                        <div class="jp-seek-bar" style="width: 100%;">
                            <div class="jp-play-bar" style="overflow: hidden; width: 97.5219%;"></div>
                        </div>
                    </div>
                    <div class="jp-current-time" role="timer" aria-label="time">04:11</div>
                    <div class="jp-duration" role="timer" aria-label="duration">04:17</div>
                    <div class="jp-controls-holder">
                        <div class="jp-controls">
                            <button class="jp-previous" role="button" tabindex="0">上一曲</button>
                            <button class="jp-play" role="button" tabindex="0">播放</button>
                            <button class="jp-next" role="button" tabindex="0">下一曲</button>
                            <button class="jp-stop" role="button" tabindex="0">暂停</button>
                        </div>
                        <div class="jp-volume-controls">
                            <button class="jp-mute" role="button" tabindex="0">静音</button>
                            <button class="jp-volume-max" role="button" tabindex="0">最大音量</button>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value" style="width: 10%;"></div>
                            </div>
                        </div>
                        <div class="jp-toggles">
                            <button class="jp-repeat" role="button" tabindex="0">重复</button>
                            <button class="jp-shuffle" role="button" tabindex="0">随机</button>
                            <!--<button class="jp-full-screen" role="button" tabindex="0">全屏</button>-->
                        </div>
                    </div>
                    <div class="jp-details" style="display: none;">
                        <div class="jp-title" aria-label="title">那英</div>
                    </div>
                </div>
            </div>
            <div class="jp-playlist">
                <div class="jp-playlist-box" style="height: 80px;">
                    <ul style="height: 1000px; display: block; top: 0px;">
                        <li>
                            <div>
                                <a href="javascript:;" class="jp-playlist-item-remove">×</a>
                                <a href="javascript:;" class="jp-playlist-item" tabindex="0">默 <span class="jp-artist" style="transform: rotate(180deg);"> - 那英</span></a>
                            </div>
                        </li>
                        <li class="">
                            <div>
                                <a href="javascript:;" class="jp-playlist-item-remove">×</a>
                                <a href="javascript:;" class="jp-playlist-item" tabindex="0">Ellens Gesang III D839 <span class="jp-artist" style="transform: rotate(180deg);"> - Geoffrey Parsons</span></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="javascript:;" class="jp-playlist-item-remove">×</a>
                                <a href="javascript:;" class="jp-playlist-item" tabindex="0">Fire <span class="jp-artist" style="transform: rotate(180deg);"> - Said The Sky</span></a>
                            </div>
                        </li>
                        <li class="jp-playlist-current" style="display: list-item;">
                            <div>
                                <a href="javascript:;" class="jp-playlist-item-remove">×</a>
                                <a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="0">兰若词 <span class="jp-artist" style="transform: rotate(180deg);"> - 刘亦菲</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jp-no-solution" style="display: none;">
                <span style="transform: rotate(180deg);">升级需要</span> 您浏览器赞不支持播放，请更新版本
                <a href="http://get.adobe.com/flashplayer" target="_blank">Flash插件</a>.
            </div>
        </div>
        <!--歌曲列表滚动条-->
        <div class="scrollBar" style="display: block;">
            <div class="bar" style="top: 0px;"></div>
        </div>
        <!--播放器展开隐藏按钮-->
        <button type="button" class="folded_bt" title="点击收缩" id="btnfold" style="top: 52px;">
            <span style="transform: rotate(180deg);"></span>
        </button>
        <div id="listRemove" style="display: block;"></div>
        <!--移除全部歌曲按钮-->
        <div id="listClose"></div>
        <!--歌曲列表展开收缩按钮-->
    </div>
    <!-- 左侧播放器 结束-->

